<ng-container *ngIf="_userService.isAuthenticated()">
    <div class="row">
        <button *ngFor="let game of games" (click)="toGame(game)" class="ll_button">{{ game }}</button>
    </div>
</ng-container >
<div class="row" *ngIf="!_userService.isAuthenticated()">
    <button (click)="toRegister()" class="ll_button">
        Register
    </button>
</div>
<div class="row" *ngIf="!_userService.isAuthenticated()">
    <button (click)="toLogin()" class="ll_button" >
        login
    </button>
</div>
<div class="row" *ngIf="_userService.isAuthenticated()">
    <button (click)="logout()" class="ll_button">
        logout
    </button>
</div>
