.all_sides {
    display: flex;

}

.game_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .game_menu li {
    float: left;
  }
  
  .game_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .game_menu li a:hover {
    background-color: #111111;
  }


