<ul class="game_menu">
<li *ngIf="_userService.token"><a routerLink="/circles">circles</a></li>
<li *ngIf="_userService.token"><a routerLink="/squares">squares</a></li>
<li *ngIf="_userService.token"><a routerLink="/squares-reverse">squares reverse</a></li> 
<li *ngIf="_userService.token"><a routerLink="/score">score</a></li>  
<li><a routerLink="/register">register</a></li> 
<li><a routerLink="/login">login</a></li> 
</ul>
<div class="all_sides">
    <div class="left_side" [style.padding.px]="leftSideWidth()"></div>
    <div class="middle-side">
        <router-outlet></router-outlet>
    </div>
    <div class="right_side" [style.padding.px]="rightSideWidth()"></div>
</div>