@import "../../../styles.scss";
.ll_button.geo_button {
    font-size: 12px;
}

.continents {
    display: flex;
}

.ll_value {
    font-size: 14px;
    padding: 1px;
    color:$ll-text-color;
}

.data_settings {
    display: flex;
}