@import "../../../styles.scss";
.ll_button.geo_button {
    font-size: 18px;
}
.ll_button:disabled {
    opacity: 0.56
}

.continents {
    display: flex;
}

.ll_value {
    font-size: 18px;
    padding: 1px;
    color:$ll-text-color;
}

.data_settings {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.continents_container {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

