<div class="game_data">
    <ng-container *ngIf="type === 'primary'">
        <app-menu-button [text]="'Compete'" [action]="compete" />
        <app-menu-button [text]="'Practice'" [action]="practice" />
    </ng-container>
    <ng-container *ngIf="type === 'compete'">
        <app-menu-button [text]="'Start game'" [action]="startGame" />
        <app-menu-button [text]="'Leaderboard'" [action]="toLeaderboard" />
    </ng-container>
    <ng-container *ngIf="type === 'practice'">
        <app-menu-button [text]="'Start game'" [action]="startCustomGame" />
        <app-menu-button [text]="'To Score'" [action]="toScore" *ngIf="_userService.isAuthenticated()"/>
        <app-menu-button [text]="'Settings'" [action]="toSettings" />
    </ng-container>
    <app-menu-button [text]="'How to play'" [action]="toTutorial"/>
    <app-menu-button [text]="'Back'" [action]="back" *ngIf="type !== 'primary'"/>
    <app-menu-button [text]="'Home'" [action]="toHome"/>
</div>