<div class="game_data">
    <div class="start_button_div" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button (click)="startTheGame()" class="ll_button start_button" [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Start game </button> 
    </div>
    <div class="start_button_div" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button (click)="startTheCustomGame()" class="ll_button start_button" [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Start custom game </button> 
    </div>
    <div class="start_button_div" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button   
         (click)="toSettings()" class="ll_button start_button" 
         [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Settings </button> 
    </div>
    <div class="start_button_div" *ngIf="_userService.isAuthenticated()" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button   
         (click)="toTutorial()" class="ll_button start_button" [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Tutorial </button> 
    </div>
    <div class="start_button_div" *ngIf="_userService.isAuthenticated()" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button   
         (click)="toScore()" class="ll_button start_button" [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Score </button> 
    </div>
    <div class="start_button_div" [ngStyle]="{ 'padding-top.px':buttonDivPadding(), 'padding-bottom.px':buttonDivPadding() }">
        <button   
         (click)="toHome()" class="ll_button start_button" [ngStyle]="{ 'width.px': windowSize-30, 'height.px':buttonHeight() }"> Home </button> 
    </div>
</div>