.game_data_component {
    background-color: white;
}

.game_data_component .game_data {
    display: flex;
}



.game_data_component .points_div {
    padding: 5px;
}

.game_data_component .lives_div {
    padding: 5px; 
}

.game_data_component .points_div p{
    font-size: 18px;
    padding-bottom: 5px;
}

.game_data_component  .lives_div p{
    font-size: 18px;
    padding-bottom: 5px;
}

.game_data_component .start_button_div button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

.game_data_component .start_button_div .start_button:hover {
    background-color: #3e8e41;
}

.game_data_component .start_button_div .start_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}