
<h1>
    {{ title }}
</h1>
@if( categories.length>1){
<h2>
   {{chooseCategories}} 
</h2>
<div class="categories_container">
    @for(con of categories; track con) {
     <div>
        <input type="checkbox" id="{{con.category}}" name="{{con.category}}" [(ngModel)]="con.selected" (ngModelChange)="continentsValueChange()">
        <label for="{{con.category}}"> {{con.category}} </label>
     </div>   
    }
</div>
}
<div class="data_settings">
    <div class="ll_value">Anwsers: {{numberOfQuestions}}</div>
    <button (click)="plusNumberOfQuestions()" class="ll_button menu_button">+1</button>
    <button (click)="minusNumberOfQuestions()" class="ll_button menu_button">-1</button>
    <div class="ll_value">Time: {{time}}s</div>
    <button (click)="plusTime()" class="ll_button menu_button">+10s</button>
    <button (click)="minusTime()" class="ll_button menu_button">-10s</button>
    <button (click)="startGame()" class="ll_button menu_button" [disabled]="disableStart()">Play </button>             
    <button (click)="toHome()" class="ll_button menu_button"> Back </button>    
</div>  