<div *ngIf="_userService.isAuthenticated()"> 
    <h1>Score</h1>

    <span style="display: inline-flex; align-items: center">
        <label for="gamesSelect">Games: </label>
        <select id="gamesSelect"
          (change)="onChange($event)" [(ngModel)]="gameType">
          <option value="circles">circle</option>
          <option value="squares">square</option>
          <option value="all">all</option>
        </select>
      </span>


    <table>
        <th *ngIf="gameType === 'all'">title</th>
        <th>points</th>
        <th>start lives</th>       
        <th>start level</th>   
        <th>mistakes</th>  
        <th>start time</th>  
        <th>time increase</th>  
        <tr *ngFor="let s of score | async">
            <td *ngIf="gameType === 'all'">
              {{s.title}}
            </td>
            <td>
              {{s.points}}
            </td>     
            <td>
              {{s.lives}}
            </td>                 
            <td>
              {{s.startLevel}}
            </td>   
            <td>
              {{s.mistakes}}
            </td>    
            <td>
              {{s.startTime}}
            </td>
            <td>
              {{s.timeIncrease}}
            </td>                                                       
        </tr>
    </table>
</div>
<div class="row some_buttons">
  <button (click)="toBack()" class="ll_button">Back</button>
  <button (click)="toHome()" class="ll_button">Home</button>
</div>  