<div>
  <!-- *ngIf="_userService.isAuthenticated()" --> 
    <h1>Score</h1>

    <span class="score_menu">
        <label for="gameTypeSelect">Games: </label>
        <select id="gameTypeSelect"
          (change)="onChangeGameType()" [(ngModel)]="gameType">
          <option value="circles">circle</option>
          <option value="squares">square</option>
          <option value="all">all</option>
        </select>
        <label for="gameDisplaySelect">Games: </label>
        <select id="gameDisplaySelect"
          (change)="onChangeGameDisplay()" [(ngModel)]="gameDisplay">
          <option value="chart">chart</option>
          <option value="table">table</option>
        </select>        
      </span>

    @if(gameDisplay === 'table') {
    <table *ngIf="gameDisplay === 'table'">
        <th *ngIf="gameType === 'all'">title</th>
        <th>points</th>
        <th>start lives</th>       
        <th>start level</th>   
        <th>mistakes</th>  
        <th>start time</th>  
        <th>time increase</th>  
        <tr *ngFor="let s of score">
            <td *ngIf="gameType === 'all'">
              {{s.title}}
            </td>
            <td>
              {{s.points}}
            </td>     
            <td>
              {{s.lives}}
            </td>                 
            <td>
              {{s.startLevel}}
            </td>   
            <td>
              {{s.mistakes}}
            </td>    
            <td>
              {{s.startTime}}
            </td>
            <td>
              {{s.timeIncrease}}
            </td>                                                       
        </tr>
    </table>
  } @else {
  <app-game-score-chart [score]="score" />
}
</div>
<div class="row some_buttons">
  <button (click)="toBack()" class="ll_button">Back</button>
  <button (click)="toHome()" class="ll_button">Home</button>
</div>  