@import "../../styles.scss";

  .score_menu {
    display: flex; 
    gap: 5px;
    padding-bottom: 5px;
  }

  .some_buttons {
    display: flex; 
    gap: 5px;
    padding-bottom: 5px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .svg_canvas {
    width: var(--window-width);
    height: calc(var(--window-height) - 100);
}