@import "../../styles.scss";

$ll-nim-canvas-color:lightgray;
$ll-nim-circle-color:blue;
$ll-nim-line-color:black;

.svg_canvas {
    background-color: $ll-nim-canvas-color;
}

.game_circle {
    stroke: $ll-nim-circle-color;
    stroke-width: 3;
    fill:$ll-nim-circle-color;
}

.circle-line {
    stroke: $ll-nim-line-color;
    stroke-width: 2;   
}

.circle-line.choosen {
    stroke: red;
}

.game_circle.choosen {
    stroke: red;
    fill: red;
}