@import "../../styles.scss";
.svg_canvas {
    background-color: $ll-circles-canvas-color;
    width: var(--window-width);
    height: var(--window-width);
}

.game_circle:hover {
    cursor: pointer;
}

.game_circle_text:hover {
    cursor: pointer;
}

.game_circle_text {
    fill: $ll-text-color;
    font-size: 1.5em;
}

.game_circle {
    stroke: $ll-circles-circle-color;
    stroke-width: 3;
    fill:$ll-circles-circle-color;
}

.mistake_circle {
    fill:$ll-circles-mistake-color;   
    stroke:$ll-circles-mistake-color;
}

.circle-line {
    stroke: $ll-circles-circle-color;
    stroke-width: 2;   
}


