@import "../../styles.scss";
.mistake_square {
    fill:$ll-square-mistake-color;
}

.marked_square {
    fill:$ll-square-marked-color;
}

.marked_square.mistake_square {
    fill:$ll-square-mistake-color;
}

.unmarked_square {
    fill:$ll-square-unmarked-color;
}