<app-game-template
[title]="title"
[lives]="lives"
[points]="points"
[startGame]="startGame"
[showData]="showDataCanvas"
>
    <svg [attr.width]="windowSize" [attr.height]="windowSize" *ngIf="showGameCanvas" [@fadeInOut]>
        <rect *ngFor="let k of squares" [attr.fill]="squareColor(k)" 
        stroke="black" 
        [attr.width]="canvasSize/numberOfSquares" 
        [attr.height]="canvasSize/numberOfSquares" 
        [attr.x]=" k.column*canvasSize/numberOfSquares"
        [attr.y]="k.row*canvasSize/numberOfSquares"
        (click)="checkSquare(k)" />
    </svg>
</app-game-template>    