<app-game-template
[title]="title"
[lives]="lives"
[points]="points"
[startGame]="startGame"
[startCustomGame]="startCustomGame"
[gameDisplayState]="gameDisplayState"
[success]="success"
>
    <svg class="svg_canvas" *ngIf="gameDisplayState === 'game'" [@fadeInOut]>
        <rect *ngFor="let k of squares"
        [ngClass]="{
            'mistake_square': k.value === 'mistake',
            'marked_square': (k.value === 'marked' && showValue)  || 'markedAndFound',
            'unmarked_square': k.value === 'unmarked' || (k.value === 'marked' && !showValue)
          }"
        stroke="black" 
        [attr.width]="canvasSize/numberOfSquares" 
        [attr.height]="canvasSize/numberOfSquares" 
        [attr.x]=" k.column*canvasSize/numberOfSquares"
        [attr.y]="k.row*canvasSize/numberOfSquares"
        (click)="checkSquare(k)" />
    </svg>
</app-game-template>    