@import "../../styles.scss";

.svg_canvas {
    width: var(--window-width);
    height: var(--window-width);
}


.game_area {
    display: flex;
}

.mistake_square {
    fill:$ll-square-mistake-color;
}

.marked_square {
    fill:$ll-square-marked-color;
}

.marked_square.mistake_square {
    fill:$ll-square-mistake-color;
}

.unmarked_square {
    fill:$ll-square-unmarked-color;
}