<app-game-data
[title]="'Square reverse memory'"
[lives]="lives"
[points]="points"
[startGame]="startGame"
/>
<svg [attr.width]="svgWidth" [attr.height]="svgWidth" *ngIf="lives>0">
    <rect *ngFor="let k of squares" [attr.fill]="squareColor(k)" 
    stroke="black" 
    [attr.width]="svgWidth/numberOfSquares" 
    [attr.height]="svgWidth/numberOfSquares" 
    [attr.x]=" k.column*svgWidth/numberOfSquares"
    [attr.y]="k.row*svgWidth/numberOfSquares"
     />
    <rect *ngFor="let k of squaresReverse" [attr.fill]="squareReverseColor(k)" 
    stroke="black" 
    [attr.width]="svgWidth/numberOfSquares" 
    [attr.height]="svgWidth/numberOfSquares" 
    [attr.x]=" k.column*svgWidth/numberOfSquares"
    [attr.y]="k.row*svgWidth/numberOfSquares"
    (click)="checkSquare(k)" />   
</svg>
