<div>
<h1>Settings {{ title }}</h1>

<div class="data_settings">
    <p>lives: {{lives}}</p>
    <button (click)="plusLife()">+1</button>
    <button (click)="minusLife()">-1</button>
</div>

<div class="data_settings">
    <p>start level: {{startLevel}}</p>
    <button (click)="plusStartLevel()">+1</button>
    <button (click)="minusStartLevel()">-1</button>
</div>

<div class="data_settings">
    <p>mistakes: {{mistakes}}</p>
    <button (click)="plusMistakes()">+1</button>
    <button (click)="minusMistakes()">-1</button>
</div>

<button (click)="saveSettings()">save</button>
</div>