
<div>
    <div>
        <h1>Settings {{ _settingsService.title }}</h1>
        <div class="data_settings">
            <div class="ll_value">lives: {{_settingsService.lives}}</div>
            <button (click)="plusLife()" class="ll_button">+1</button>
            <button (click)="minusLife()" class="ll_button">-1</button>
        </div>
        <div class="data_settings">
            <div class="ll_value">start level: {{_settingsService.startLevel}}</div>
            <button (click)="plusStartLevel()" class="ll_button">+1</button>
            <button (click)="minusStartLevel()" class="ll_button">-1</button>
        </div>
        <div class="data_settings">
            <div class="ll_value">mistakes: {{_settingsService.mistakes}}</div>
            <button (click)="plusMistakes()" class="ll_button">+1</button>
            <button (click)="minusMistakes()" class="ll_button">-1</button>
        </div>
        <div class="data_settings">
            <div class="ll_value">start time: {{_settingsService.startTime}}</div>
            <button (click)="plusStartTime()" class="ll_button">+100</button>
            <button (click)="minusStartTime()" class="ll_button">-100</button>
        </div>            
        <div class="data_settings">
            <div class="ll_value">time increase: {{_settingsService.timeIncrease}}</div>
            <button (click)="plusTimeIncrease()" class="ll_button">+100</button>
            <button (click)="minusTimeIncrease()" class="ll_button">-100</button>
        </div>
           
        <button (click)="saveSettings()" class="ll_button">save</button>
    </div>
</div>
<div class="row some_buttons">
    <button (click)="toBack()" class="ll_button">Back</button>
</div>  