<div class="game_area">
    <div class="continents_row">
        <div *ngFor="let con of continents">
            <input type="checkbox" id="{{con.continent}}" name="{{con.continent}}" [(ngModel)]="con.selected" (ngModelChange)="getGeoData()">
            <label for="{{con.continent}}"> {{con.continent}} </label><br>
        </div>
    </div>
        <table class="geo_tabela">
            <th>country</th>
            <th>capital</th>
            <tr *ngFor="let c of geoData">
                <td>
                    {{ c.country }}
                </td>
                <td>
                    {{ c.capital }}
                </td>
                <td>
                    {{ c.continent }}
                </td>
            </tr>
        </table>
</div>