
// #023c23
// primary button
// #02643b
//#3c0072
//primary button
//#8d2ce9


//$ll-background-color:#336AE9;
$ll-background-color:#023c23;

$ll-text-color:#fffffffb;


$ll-circles-circle-color:#030888;
$ll-circles-mistake-color:#fed131;
$ll-circles-canvas-color:lightgray;

$button-background-color: #02643b;
$button-background-hover: #fed131;
$button-background-active: #fed131;
$button-text-color: #fffffffb;
$button-border-color: #fffffffb;

$ll-square-mistake-color:#fed131;
$ll-square-marked-color:rgba(228, 18, 18, 0.783);
$ll-square-unmarked-color:lightgray;

body {
    background-color: $ll-background-color;
}

h1 {
    color:$ll-text-color;
}

h2 {
    color:$ll-text-color;
}

label {
    color:$ll-text-color;    
}

td {
    color:$ll-text-color;
}
th {
    color:$ll-text-color;
}


.ll_button {
    border-radius: 50%;
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 50%;
    outline: none;
    color: $button-text-color;
    background-color: $button-background-color;
    border: none;
    border-radius: 15px;
    vertical-align: middle;
}

.ll_button:hover {
    background-color: $button-background-hover;
}
.ll_button:active {
    background-color: $button-background-active;
    transform: translateY(4px);
}

.row {
    padding: 10px;
}

.some_button {
    display: flex;
}

.game_area {
    padding: 5px;
    display: flex;
}

.game_data_left_side {
    background-color: $ll-background-color;
}
.game_data_right_side {
    background-color: $ll-background-color;
}