.game_data_component {
    background-color: white;
}



.game_data_component .points_div {
    padding: 5px;
}

.game_data_component .lives_div {
    padding: 5px; 
}

.game_data_component .points_div p{
    font-size: 18px;
    padding-bottom: 5px;
}

.game_data_component  .lives_div p{
    font-size: 18px;
    padding-bottom: 5px;
}
.game_data_component .game_name_div {
    padding: 5px;
}
.game_data_component .game_name_div p{
    font-size: 18x;
    padding-bottom: 1px;
}

.start_button {
    padding: 30px 30px;
}
