<div class="game_area">
            <app-game-menu
            [title]="title"
            [startGame]="startGame"   
            [startCustomGame]="startCustomGame"
            *ngIf="gameDisplayState === 'menu'"     
            />
            <ng-content />
            <app-game-pause 
            [lives]="lives"
            [points]="points"
            [success]="success"
            *ngIf="gameDisplayState === 'data'" [@fadeInOut]
            />
            <app-game-end
            [playAgain]="startGame" 
            [points]="points"
            *ngIf="gameDisplayState === 'end'" [@fadeInOut]
            />
</div>