<div class="game_area" *ngIf="_userService.isAuthenticated()">
    <div *ngIf="sidesWidth()>0" [ngStyle]="{ 'width.px': sidesWidth() }" class="game_data_left_side"></div>
    <div class="game_data_component" *ngIf="!showGame()">  
        <div class="game_data">
            <div class="start_button_div">
                <button (click)="startTheGame()" class="ll_button start_button"> start game </button> 
            </div>
            <div class="start_button_div">
                <button   
                 (click)="toSettings()" class="ll_button start_button"> settings </button> 
            </div>
            <div class="start_button_div">
                <button   
                 (click)="toScore()" class="ll_button start_button"> score </button> 
            </div>
            <div class="start_button_div">
                <button   
                 (click)="toHome()" class="ll_button start_button"> home </button> 
            </div>

        </div>
    </div>    
        <ng-container *ngIf="showGame()">
            <ng-content />
            <div *ngIf="showData" [@fadeInOut]>
                <h1>Great Job</h1>
                <h1>You have {{lives}} lives</h1>
                <h1>You have {{points}} points</h1>
                <h1>Keep it Up</h1>
            </div>
        </ng-container>
        <div *ngIf="sidesWidth()>0" [ngStyle]="{ 'width.px': sidesWidth() }" class="game_data_right_side">
    </div>
</div>