@import "../../../styles.scss";

.question {
    color:$ll-text-color;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.correct {
    display:flex;
    padding-bottom: 5px;
}

.correct_left {
    color:$ll-text-color;
    font-size: 18px;
    padding-right: 20px;
}

.correct_right {
    color:$ll-text-color;
    font-size: 18px;
}

.anwsered {
    display:flex;
}

.anwsered_left {
    color:$ll-text-color;
    font-size: 18px;
    padding-right: 59px;
}


.anwsered_right {
    font-size: 18px;
    color:$ll-text-color;

}

.anwsered.correct {
    background-color:#030c88;
}

.anwsered.wrong {
    background-color:red;
}

.play_again {
    padding-top: 20px;    
}
